<nav class="navbar">
    <a class="navbar-title">Super Simple Logs</a>
    <ul class="navbar-list">
        <% if (session.username) {
            const homeLink = '/users/' + session.username %>
            <li class="navbar-list-item"><a href="<%= homeLink %>" class="link-clickable">home</a></li>
            <li class="navbar-list-item"><a href="/logout" class="link-clickable">logout</a></li>
        <% } else { %>
            <li class="navbar-list-item"><a class="link-clickable" href="/login">login</a></li>
            <li class="navbar-list-item"><a class="link-clickable" href="/register">register</a></li>
        <% } %>
    </ul>
</nav>
<div class="navbar-buffer"></div>

