<nav class="navbar-user">
    <a class="navbar-user-title"><%= log %></a>
    <ul class="navbar-user-list">
        <% const newEntryLink = `/newentry/${session.username}/${log}` %>
        <li class="navbar-user-list-item">
            <button>
                <a href="<%= newEntryLink %>" class="link-clickable">new entry</a>
            </button>
        </li>
    </ul>
</nav>