<nav class="navbar-user">
    <a class="navbar-user-title"><%= session.username %></a>
    <ul class="navbar-user-list">
        <% logs.forEach( function(log) { %>
            <% const logLink = `/users/${session.username}/${log}` %>
            <li class="navbar-user-list-item"><a href="<%= logLink %>" class="link-clickable"><%= log %></a></li>
        <% }) %>
        <li class="navbar-user-list-item"><button><a href="/newlog" class="link-clickable">NEW</a></button></li>
        <% if (logs.length != 0) { %>
        <li class="navbar-user-list-item">
            <button>
                <a href="/deletelog" style="color:red;" class="link-clickable">DELETE</a>
            </button>
        </li>
        <% } %>
    </ul>
</nav>