<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Super Simple Logs</h1>
    <h5><%= time %></h5>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
</body>
</html>