<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles.css">
    <title>SSL</title>
</head>
<body>
    <header>
        <%- include('partials/header'); %>
    </header>

    <subheader>
        <%- include('partials/logsubheader'); %>
    </subheader>

    <% const link = `/newentry/${session.username}/${log}` %>
    <div class="container">
        <form class="form-flex" action="<%= link %>" method="post">
            <label>Title of Post</label>
            <input class="entry-form-title" type="text" name="name" required>
            <textarea class="entry-form-textarea" name="entry" required></textarea>
            <input class="post-button" type="submit" value="post">
        </form>
    </div>
</body>
</html>