<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= session.username %> </h1>
    <% 
    logs.forEach(function(x){
        const href = '/users/' + session.username + '/' + x 
    %>
        <a href="<%= href %>"><%= x %></a>
    <%   
    })
    %>
    <a href="/newlog">create new log</a>        
    <a href="/">logout</a>
</body>
</html>